body {
    background-color: rgb(255, 255, 255); 
}
.navbar-brand img {
    max-width: 30px; 
    height: auto;
}
.gambarkecil{
    width: 25%;
    height: auto;
}
.kata{
    text-align: center;
    font-family: Cambria, Cochin;
    color: rgb(31, 23, 43);
    font-weight: bold;
}
.visi{
    background-color: rgb(253, 253, 253);
    justify-content: left;
    color: black;
    font-size: 1.2em;
}
.misi{
    background-color: rgb(255, 252, 252);
    justify-content: left;
}


.icon-container {
    text-align: center;
    margin: 20px 0;
}
.icon-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.icon-container h6 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
.icon-container .btn:hover {
    background-color: rgb(6, 131, 14);
    color: white;
    border-color: rgb(1, 110, 32); 
}
.card {
    border-radius: 15px;
    overflow: hidden;
    color: rgb(26, 24, 24);
    text-align: left;

}
.card img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: auto;
}
.card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.card-text {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}
.btn-img {
    padding: 0;
    border: none;
    background: none;
    width: 100%;
}
.btn-img:hover .card-img-overlay {
    background-color: rgba(14, 0, 209, 0.5);
}

/* vido */
.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
  }
  
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
/* b */


  /* footer */
  .fotkata{
    text-align: center;
    font-family: Cambria, Cochin;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
  .footer {
    background-color: #1a1a1a;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
}
.footer {
    background-color: #1a1a1a;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
}
.footer .logo {
    margin-bottom: 20px;
}
.footer .nav {
    margin-bottom: 10px;
    display: inline-block; 
}
.footer .nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}
.footer .nav a:hover {
    text-decoration: underline;
}
.footer .copyright {
    border-top: 1px solid #333;
    padding-top: 10px;
    font-size: 14px;
}